In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Load Data

### Initialize Path Constants

In [0]:
RAW_DATA_PATH = '../data/raw'
PROCESSED_DATA_PATH = '../data/processed'

### Load CSV Files

In [0]:
train_df = pd.read_csv('{}/tubes2_HeartDisease_train.csv'.format(RAW_DATA_PATH))
test_df = pd.read_csv('{}/tubes2_HeartDisease_test.csv'.format(RAW_DATA_PATH))

## Rename Column Names & Convert '?' to NaN

In [0]:
from copy import deepcopy

test_columns_replacement = {
    'Column1': 'age',
    'Column2': 'sex',
    'Column3': 'chest_pain_type',
    'Column4': 'resting_blood_pressure',
    'Column5': 'serum_cholestrol',
    'Column6': 'fasting_blood_sugar',
    'Column7': 'resting_ECG',
    'Column8': 'max_heart_rate_achieved',
    'Column9': 'excercise_induced_angina',
    'Column10': 'ST_depression',
    'Column11': 'peak_exercise_ST_segment',
    'Column12': 'num_of_major_vessels',
    'Column13': 'thal',
}

train_columns_replacement = test_columns_replacement.copy()
train_columns_replacement['Column14'] = 'heart_disease_diagnosis'

train_df = train_df.rename(columns=train_columns_replacement).replace('?',np.NaN)
test_df = test_df.rename(columns=test_columns_replacement).replace('?',np.NaN)

combine = [train_df,test_df]

In [0]:
train_df.head()

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholestrol,fasting_blood_sugar,resting_ECG,max_heart_rate_achieved,excercise_induced_angina,ST_depression,peak_exercise_ST_segment,num_of_major_vessels,thal,heart_disease_diagnosis
0,54,1,4,125,216,0,0,140,0,0,NaN,NaN,NaN,1
1,55,1,4,158,217,0,0,110,1,2.5,2,NaN,NaN,1
2,54,0,3,135,304,1,0,170,0,0,1,0,3,0
3,48,0,3,120,195,0,0,125,0,0,NaN,NaN,NaN,0
4,50,1,4,120,0,0,1,156,1,0,1,NaN,6,3

In [0]:
test_df.head()

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholestrol,fasting_blood_sugar,resting_ECG,max_heart_rate_achieved,excercise_induced_angina,ST_depression,peak_exercise_ST_segment,num_of_major_vessels,thal
0,60,1,2,160,267,1,1,157,0,0.5,2,NaN,NaN
1,61,1,4,148,203,0,0,161,0,0,1,1,7
2,54,1,4,130,242,0,0,91,1,1,2,NaN,NaN
3,48,1,4,120,260,0,0,115,0,2,2,NaN,NaN
4,57,0,1,130,308,0,0,98,0,1,2,NaN,NaN

## Data Preprocessing

### Impute Null Data

to make it simple, we encode null values with the median (numerical features) and mode (categorical features)

In [0]:
def impute_categorical_data(df, colnames):
    for colname in colnames:
        df[colname].fillna(df[colname].mode().iloc[0],inplace=True)

def impute_numerical_data(df,colnames):
    for colname in colnames:
        df[colname].fillna(df.loc[df[colname]!=np.NaN][colname].median(),inplace=True)

In [0]:
categorical_data_colname = ['peak_exercise_ST_segment','excercise_induced_angina','thal']
numerical_data_colname = ['max_heart_rate_achieved',
                          'ST_depression',
                          'num_of_major_vessels',
                          'resting_blood_pressure',
                          'fasting_blood_sugar',
                          'serum_cholestrol',
                          'resting_ECG']

impute_categorical_data(train_df, categorical_data_colname)
impute_numerical_data(train_df, numerical_data_colname)

train_df

,age,sex,chest_pain_type,resting_blood_pressure,serum_cholestrol,fasting_blood_sugar,resting_ECG,max_heart_rate_achieved,excercise_induced_angina,ST_depression,peak_exercise_ST_segment,num_of_major_vessels,thal,heart_disease_diagnosis
0,54,1,4,125,216,0,0,140,0,0,2,0,3,1
1,55,1,4,158,217,0,0,110,1,2.5,2,0,3,1
2,54,0,3,135,304,1,0,170,0,0,1,0,3,0
3,48,0,3,120,195,0,0,125,0,0,2,0,3,0
4,50,1,4,120,0,0,1,156,1,0,1,0,6,3
5,64,0,4,130,303,0,0,122,0,2,2,2,3,0
6,63,1,4,130,308,0,0,138,1,2,2,0,3,2
7,58,1,2,130,251,0,0,110,0,0,2,0,3,0
8,42,1,2,150,268,0,0,136,0,0,2,0,3,0
9,54,1,3,120,258,0,2,147,0,4,2,0,7,0
10,58,1,4,115,0,0,0,138,0,0.5,1,0,3,1
11,49,1,3,118,149,0,2,126,0,8,1,3,3,1
12,61,1,1,142,200,1,1,100,0,1.5,3,0,3,3
13,55,0,2,132,342,0,0,166,0,12,1,0,3,0
14,60,1,4,132,218,0,1,140,1,1.5,3,0,3,2
15,67,1,4,130,369,0,0,140,0,1,2,0,3,3
16,62,1,3,160,0,0,0,72,1,0,2,0,3,3
17,57,1,4,150,276,0,2,112,1,6,2,1,6,1
18,43,1,1,120,291,0,1,155,0,0,2,0,3,1
19,67,1,4,125,254,1,0,163,0,2,2,2,7,3
20,59,1,4,110,0,0,0,94,0,0,2,0,6,3
21,45,0,2,112,160,0,0,138,0,0,2,0,3,0
22,51,1,3,135,160,0,0,150,0,2,2,0,3,1
23,53,1,4,120,246,0,0,116,1,0,2,0,3,1
24,51,0,3,120,295,0,2,157,0,6,1,0,3,0
25,53,1,3,155,175,1,1,160,0,1,2,0,6,0
26,64,0,4,180,325,0,0,154,1,0,1,0,3,0
27,52,1,4,108,233,1,0,147,0,1,1,3,7,0
28,41,1,4,104,0,0,1,111,0,0,2,0,3,0
29,55,1,4,140,201,0,0,130,1,3,2,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,49,0,3,130,207,0,1,135,0,0,2,0,3,0
750,32,1,2,110,225,0,0,184,0,0,2,0,3,0
751,57,1,2,154,232,0,2,164,0,0,1,1,3,1
752,74,1,4,155,310,0,0,112,1,1.5,3,0,3,2
753,59,1,3,150,212,1,0,157,0,16,1,0,3,0
754,53,1,4,130,0,0,2,135,1,1,2,0,7,2
755,35,1,2,122,192,0,0,174,0,0,1,0,3,0
756,34,0,2,130,161,0,0,190,0,0,2,0,3,0
757,55,1,3,130,225,0,1,140,0,1,2,0,3,0
758,54,0,3,110,214,0,0,158,0,16,2,0,3,0
759,63,1,4,136,0,0,0,84,1,0,2,0,7,2
760,37,1,3,118,240,0,2,165,0,1,2,0,3,0
761,56,1,4,150,230,0,1,124,1,15,2,0,3,1
762,53,1,2,120,0,0,0,95,0,0,2,0,3,3
763,50,1,3,129,196,0,0,163,0,0,1,0,3,0
764,54,0,2,120,230,1,0,140,0,0,2,0,3,0
765,56,1,4,120,0,0,1,100,1,-1,3,0,7,2
766,58,1,4,125,300,0,2,171,0,0,1,2,7,1
767,43,1,4,132,247,1,2,143,1,1,2,0,7,1
768,59,1,4,120,0,0,0,115,0,0,2,0,3,2
769,72,1,4,160,225,1,2,130,0,1.5,2,0,3,2
770,52,1,4,160,246,0,1,82,1,4,2,0,3,1
771,61,1,3,130,284,0,0,140,0,1,2,0,3,1
772,50,1,4,115,0,0,0,120,1,0.5,2,0,6,3
773,68,1,3,180,274,1,2,150,1,16,2,0,7,3
774,62,0,4,140,268,0,2,160,0,36,3,2,3,3
775,62,1,2,130,0,0,0,140,0,1,2,0,3,0
776,51,1,1,125,213,0,2,125,1,14,1,1,3,0
777,60,1,4,130,195,0,0,140,0,1,2,0,3,0
778,55,1,3,130,245,1,1,140,0,1,2,0,3,1

### Encode Categorical Data

General rules:
- Ordinal categorical type -> label encoding
- Nominal categorical type -> one-hot encoding

## One-Hot Encoding

## Save Processed Data

Save the processed data to the ../raw/processed folder

In [0]:
train_df.to_csv('{}/processed_data.csv'.format(PROCESSED_DATA_PATH),index=False)